figure(
  class=[
  'js-lc-notification', 'js-lc-notification-initial',
  'fixed',  'bottom-8', 'inset-x-0', 'mx-auto',
  'rounded-lg', 'shadow-lg', 'z-40',
  'bg-dark-darker-90',
  'max-w-128', 'w-11/12'
])
  figcaption(class=[
    'w-full', 'mt-1', 'mb-2',
    'text-center', 'tg-small-header', 'text-light-lighter',
    'js-title'
  ])
  div(class=[
    'w-11/12', 'mx-auto', 'mt-2', 'mb-4', 
    'overflow-y-auto', 'max-h-48',
    'tg-base', 'text-light-lighter',
    'js-content'
  ])
  button(class=[
    'absolute', 'top-1', 'right-2',
    'tg-lg-base', 'text-primary', 'c-box-btn', 'c-highlight-on-hover',
    'js-close'
  ]) X
