.js-lc-notification {
  transition: transform 0.5s cubic-bezier(.08,.49,.4,1.35), opacity 0.5s ease-in;
}
.js-lc-notification-initial {
  transform: translate3d(0,theme('spacing.80'),0);
}

.js-lc-notification-final {
  transform: translate3d(0,0,0);
}

.js-lc-notification-remove {
  opacity: 0;
}
