- const data = require('../../data/layout').header;
- const links = require('../../data/layout').links;
- cv = require('../../assets/docs/cv-antonio-fernandez-online-version.pdf');
header#header(class=[
  'h-screen', 'min-h-192', 'relative',
  'lc-header-bg-mesh', 'c-outer-container', 'justify-center', 'overflow-hidden'
])
  div(class=[
    'js-header-bg', 'js-will-change-transform',
    'absolute', 'inset-0',
    'lc-header-bg-image', 'bg-center', 'bg-no-repeat', 'bg-cover'
  ])
  div(class=[
    'flex-auto',
    'relative',
    'c-inner-container',
    'flex-col', 'items-center', 'justify-center',
    'pb-48'
  ])                  
    div(class=[
      'relative',
      'w-8/12', 'md:w-10/12', 'xs:w-96',
      'h-96'
    ])
      //- TERMINAL: component of header and also main view when page is loading
      include terminal/index
      //- AVATAR
      figure(class=[
        'js-avatar',
        'absolute', 'right-0', 'bottom-0', 'xs:w-96',
        'u-bottom-drop-shadow-dark-bg',
        'self-end',
        'js-will-change-transform',
        'transition-transform', 'duration-300'
      ])
        - avatarImg = require('../../assets/imgs/silveste.png?sizes[]=640,sizes[]=384,sizes[]=260')
        img(
          alt = data.avatar.alt
          srcset = avatarImg.srcSet
          src = avatarImg.src
          class=[
          'h-64', 'sm:h-56', 'xs:h-48', 'sm:ml-auto',
          'object-bottom',
          'object-contain'
        ])
    //- SOCIAL ICONS
    nav(class=[
      'js-social-icons',
      'relative',
      'flex', 'justify-center',
      'js-will-change-transform',
      'transition-transform', 'duration-300'
    ])
      each link in links
        a(
          target=link.target
          rel="noreferrer noopener"
          href=link.url === 'cv' ? cv : link.url
          title=link.title 
          class=[
          'c-box-btn',
          'c-highlight-on-hover',  
          'text-secondary'
          ]) 
          svg(class=[
          'u-bottom-drop-shadow-dark-bg',
          'bg-dark-darker-20',
          'rounded-full',
          'm-2',
          'h-10', 'md:h-12',
          'w-10', 'md:w-12',
          'fill-current',
          'text-inherit'
          ])
            title= link.title
            use(xlink:href=`#${link.name.toLowerCase()}`)
