$header-bg-ls-path: ./assets/imgs/header-landscape.jpg;
$header-bg-pt-path: ./assets/imgs/header-portrait.jpg;

.lc-header-bg-image {
  background-image: url("$header-bg-ls-path?size=1280");

  @include mesh;
}

@screen lg {
  .lc-header-bg-image {
    background-image: url("$header-bg-ls-path?size=1024");
  }
}

@screen md {
  .lc-header-bg-image {
    background-image: url("$header-bg-ls-path?size=768");
  }
}

@screen sm {
  .lc-header-bg-image {
    background-image: url("$header-bg-ls-path?size=640");
  }
}

@screen xs {
  .lc-header-bg-image {
    background-image: url("$header-bg-ls-path?size=480");
  }
}

@screen xl-portrait {
  .lc-header-bg-image {
    background-image: url("$header-bg-pt-path?size=1280");
  }
}

@screen lg-portrait {
  .lc-header-bg-image {
    background-image: url("$header-bg-pt-path?size=1024");
  }
}

@screen md-portrait {
  .lc-header-bg-image {
    background-image: url("$header-bg-pt-path?size=768");
  }
}

@screen sm-portrait {
  .lc-header-bg-image {
    background-image: url("$header-bg-pt-path?size=640");
  }
}

@screen xs-portrait {
  .lc-header-bg-image {
    background-image: url("$header-bg-pt-path?size=480");
  }
}
