include ../btn/mixin
mixin certification(data)
  - parseLinks = require('./scripts/helpers').parseLinks;
  - courseImg = require(`./assets/imgs/certifications/courses/${data.courseImg}?size=640`)
  - certificateImg = require(`./assets/imgs/certifications/courses/${data.certificateImg}?sizes[]=288,sizes[]=432,sizes[]=576`)
  - orgImgs = data.organizationImgs ? data.organizationImgs.map(img => require(`./assets/imgs/certifications/organizations/${img}?size=128`)) : []
  - gradientBg = `background-image: linear-gradient(to bottom, #ceceb1, #5f5f54)`
  - bgFront = `${gradientBg}, url(${courseImg});`
  - headerColors = data.colors ? data.colors : [ '#ceceb1', '#5f5f54']
  - bgHeader = `background-image: linear-gradient(to bottom, ${headerColors[0]}, ${headerColors[1]})`
  
  article(class=[
    'js-certification',
    'c-two-sides',
    'w-80', 'h-80', 
    'relative', 'u-perspective-1000', 'whitespace-normal',
  ]) 
    //- Style is defined inline as image is pulled from cson data file
    div(
      style= bgFront
      class=[
        'c-front-side',
        'bg-cover', 'bg-center', 'u-bg-blend-screen',
        'text-left', 'p-4'
      ]
    )
      +btn(['js-front-btn', 'right-1', 'top-1'])
      each img in orgImgs
        img(
          src= img.src
          class=[
            'inline-block', 'rounded',
            'h-16', 'w-16', 'mr-2'
          ]
        )
      else
        span &nbsp;
      header(class=[
        'tg-normal-header', 'tracking-wider', 'text-light-lighter',
        'w-10/12', 'absolute', 'right-4', 'bottom-4', 'text-left'
      ])
        span(
          style= bgHeader
          class=[
            'u-clone-fragments',
            'px-2', 'py-1', 'rounded-sm', 'u-text-shadow', 'shadow',
          ])!= data.name
    div(
      class=[
        'js-back-side',
        'c-back-side', 'overflow-hidden',
        'lc-certification-scroll-transparency'
      ]
    )
      +btn(['js-back-btn', 'left-1', 'top-1'], 'transform rotate-180')
      div(class=[
        'overflow-y-auto',
        'text-left', 'bg-white',
        'h-full', 'w-full', 'pr-10', 'u-content-box'
      ])
        if data.certificateUrl
          a(
            href=data.certificateUrl
            title='Course completion certificate'
            target='_blank'
            rel='noreferrer noopener'
            class=['c-text-btn', 'u-border-box', 'block', 'w-full', 'pt-4', 'px-4']
          )
            img(
              srcset=certificateImg.srcSet 
              src=certificateImg.src
              alt= `Certificate: ${data.name}`
              class=[
                'block', 'w-full'
              ]
            )
        else
          img(
            srcset=certificateImg.srcSet 
            src=certificateImg.src
            alt= `Certificate: ${data.name}`
            class=[
              'u-border-box', 'block', 'w-full', 'pt-4', 'px-4'
            ]
          )
        if data.information
          p(class=[
            'tg-small-header', 'text-dark', 'pb-1', 'mx-4'
          ]) About this Course:
          ul(class=['u-border-box', 'mx-4', 'mb-6'])
            each text in data.information
              li(class=[
                'tg-base', 'text-dark', 'pb-1'
              ])!= parseLinks(text,'target="_blank" rel="noreferrer noopener" class="c-text-btn"')
