mixin btn(btnClasses, contentClasses)
  button(class=[
      ...[].concat(btnClasses),
      'js-btn',
      'c-box-btn',
      'h-10', 'w-10', 
      'absolute',
      'text-2xl', 'text-center', 'text-primary', 'c-highlight-on-hover',
      'cursor-pointer'
    ])
      div(class=[
        ...[].concat(contentClasses),
        'flex', 'items-center', 'justify-center',
        'js-btn-content',
        'w-full', 'h-full',
        'transition-transform', 'duration-500', 'ease-in-out',
      ]) &raquo;
