include ../btn/mixin
mixin project(project)
  include ../../components/scroller/mixin
  - parseLinks = require('./scripts/helpers').parseLinks;
  - imagePath = require(`./assets/imgs/projects/${project.image}?size=640`)
  - defaultColors = project.colors ? project.colors : [ '#03b0a9', '#265949']
  - gradientBg = `background-image: linear-gradient(to bottom, ${defaultColors[0]}, ${defaultColors[1]})`
  - simpleBackgroundImage = `${gradientBg};`
  - complexBackgroundImage = `${gradientBg}, url(${imagePath});`
  article(class=[
    'js-project',
    'c-two-sides',
    'w-64', 'sm:w-80', 'h-112', 'sm:h-128',
    'relative', 'u-perspective-1000', 'whitespace-normal',
  ]) 
    div(class=[
      'c-front-side', 'bg-white'
    ])
      //- Style is defined inline as image is pulled from cson data file
      div(
        style= complexBackgroundImage
        class=[
          'lc-project-picture', 'rounded-t',
          'bg-cover', 'bg-top', 'h-48', 'sm:h-64', 'w-full'
        ]) &nbsp;
      header(class=[
        'tg-normal-header', 'tracking-wider', 'text-light-lighter',
        'w-10/12', 'absolute', 'left-5', 'bottom-64', 'text-right'
      ])
        span(
          style= simpleBackgroundImage
          class=[
            'u-clone-fragments',
            'px-2', 'py-1', 'rounded-sm', 'shadow',
          ])= project.name
      div(class=[
        'h-64', 'w-full',
      ])
        ul(class=[
          'flex', 'flex-col', 'justify-center', 'items-center',
          'h-full', 'w-full', 'p-10',
        ])
          each skill, index in project.skills
            li(class=[
              'block', 'w-full'
            ])
              p(class=[
                'py-1',
                'text-dark', 'tg-lg-base'
              ])= skill 
              if project.skills.length > index + 1
                div(class=[
                  'mx-auto',
                  'w-1/2',
                  'h-px',
                  'bg-light',
                ])
      +btn(['js-front-btn', 'right-1', 'bottom-1'])
    div(class=[
      'js-back-side',
      'c-back-side', 'bg-white', 'overflow-hidden',
      'lc-project-scroll-transparency'
    ])
      div(class=[
        'h-full', 'w-full', 'pr-10', 'u-content-box',
        'overflow-y-scroll',
      ])
        each paragraph, i in project.description
          - 
            text = parseLinks(paragraph,'target="_blank" rel="noreferrer noopener" class="c-text-btn"')
            let extraMargin = '';
            if (i === 0) {
              extraMargin = 'mt-6'
            } else if (i === project.description.length - 1 ) {
              extraMargin = 'mb-8'
            }
          p(class=[
            'text-left', 'mx-4', 'my-2', extraMargin,
            'tg-base', 'text-dark'
          ])!= text
      +btn(['js-back-btn', 'left-1', 'bottom-1','z-10'],'transform rotate-180')
