div#initial-spinner(class=[
  'lc-initial-spinner', 'fixed',
  'flex', 'justify-center', 'items-center', 'bg-dark-darker',
  'h-screen', 'w-screen',
  'transition-opacity', 'ease-in', 'duration-700'
])
  div(class=['lc-chase', 'm-4'])
    div(class='lc-chase-dot')
    div(class='lc-chase-dot')
    div(class='lc-chase-dot')
    div(class='lc-chase-dot')
    div(class='lc-chase-dot')
    div(class='lc-chase-dot')
