.lc-initial-spinner {
  overflow: hidden;
  animation: remove 2s ease-in 30s 1 forwards;
  z-index: 100;
}
.lc-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: lc-chase 2.5s infinite linear both;
}

.lc-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: lc-chase-dot 2.0s infinite ease-in-out both;
}

.lc-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: theme('colors.highlight.default');
  border-radius: 100%;
  animation: lc-chase-dot-before 2.0s infinite ease-in-out both;
}

.lc-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.lc-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.lc-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.lc-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.lc-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.lc-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.lc-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.lc-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.lc-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.lc-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.lc-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.lc-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes lc-chase {
  100% { transform: rotate(360deg); }
}

@keyframes lc-chase-dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes lc-chase-dot-before {
  50% {
    transform: scale(0.4);
  } 100%, 0% {
    transform: scale(1.0);
  }
}

@keyframes remove {
  100% {
    height: 0;
  }
}
