- 
  outerContainerClasses = [];
  innerContainerClasses = [];
  innerContainerId = 'section-container';
  
block variables
  //- All variables can be declared in child templates using this block

section(
  id=outerContainerId
  class=[
    'c-outer-container',
    'relative',
    'justify-center',
    ...outerContainerClasses
  ])
  div(
    class=[
    'c-inner-container',
    'pb-12', 'pt-12',
    'flex-grow', 'justify-center', 'items-center',
    ...innerContainerClasses
    ])
    block section-body
