- const data = require('../../../data/layout').header.terminal;

div#terminal(
  data-max = data.loadingScreenMaxDuration
  data-min = data.loadingScreenMinDuration
  class=[
    'js-terminal', 'js-header-terminal',
    'left-0', 'top-0',
    'overflow-hidden',
    'js-will-change-transform',
    'transition', 'duration-500', 'ease-out'
])
  //- TERMINAL TOP BAR
  div(class=[
    'lc-terminal-topbar',
    'h-12',
    'w-full',
    'bg-dark-darker',
    'flex', 'items-center', 'justify-start',
    'px-2'
  ])
    each color in ['bg-red-600', 'bg-yellow-400', 'bg-green-400']
      div(class=[
      'lc-terminal-fakebtn',
      color,
      'rounded-full'
      ])
  //- TERMINAL BODY
  article(class=[
    'lc-terminal-body', 'js-terminal-body',
    'w-full',
    'bg-dark-darker-80'
  ]) 
    each line in data.lines
      p(
        data-end = data.lineDelay
        class=[
          'js-line',
          line.hidden ? 'js-hidden' : null,
          line.hidden ? 'js-only-loading' : null
        ]
      )
        if line.prompt 
          i(
            class=[
              'js-text',
              'text-highlight-alt-dark',
              line.hidden ? 'js-hidden' : null,
              line.hidden ? 'js-only-loading' : null,
            ]
          )= data.prompt
          span(
            data-end = line.delay
            data-duration = line.duration
            class=[
              'js-text',
              'text-highlight-alt-dark'
            ]
          )= line.text
        else
          em(
            data-end = line.delay
            data-duration = line.duration || '0'
            class=[
              'js-text',
              'text-highlight'
            ]
          )= line.text
    p(
      data-end = data.endDelay
      class=[
        'js-text',
        'js-line'
      ]
    )
      i(class=[
        'js-text',
        'text-highlight-alt-dark'
      ])= data.prompt
      i(class=[
        'js-header-cursor',
        'js-blink',
        'text-highlight'
      ]) &nbsp;
