.js-header-cursor {
  position: relative;
  &:before {
    @apply text-highlight;
    content: ' \2589';
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/*
NOTE: The Terminal can be the main screen while page is loading
by applying "js-main-terminal" or the header terminal component by
applying "js-header-component"
Don't use both classes at the same time
*/
.js-main-terminal {
  @apply z-40 fixed inset-0 w-screen h-screen bg-dark;

  & .lc-terminal-topbar {
    @apply h-12;
  }

  & .lc-terminal-fakebtn {
    @apply h-6 w-6 m-2;
  }

  & .lc-terminal-body {
    @apply h-full p-6 tg-terminal-big;
  }
}

.js-header-terminal {
  @apply absolute u-bottom-drop-shadow-dark-bg w-128 rounded-lg;

  & .lc-terminal-topbar {
    @apply h-6;
  }

  & .lc-terminal-fakebtn {
    @apply h-3 w-3 m-1;
  }

  & .lc-terminal-body {
    @apply h-64 p-3 tg-terminal;
  }
}

@screen sm {
  .js-header-terminal {
    @apply inset-x-0 w-full max-w-128;
  }
}

@screen xs {
  .js-header-terminal {
    @apply w-96;
  }
}
