extends ../section-container/index
include ../../components/skill/mixin
include ../../components/scroller/mixin
block append variables
  - data = require('./data/skills');
  - outerContainerClasses = ['bg-light', 'min-h-224', 'lc-skills-boundaries'];
  - outerContainerId = 'skills';
  - innerContainerClasses = ['min-h-224', 'flex-col', 'mb-xscreen-5']

block section-body
  div(class=[
    'js-skills-container',
    'js-static-props-section-skills',
    'flex-grow',
    'relative',
    'overflow-visible',
    'transition-opacity', 'duration-200'
    ])
    blockquote(
        cite=data.quote.cite
        class=[
          'js-skills-section-quote',
          'tg-xl-base', 'text-dark',
          'm-4', 'w-9/12', 'sm:w-11/12'
        ]
      )
      p(
        class=[
          'js-line'
        ])
        span(
          data-duration = '4000'
          data-end = '750'
          class=[
            'js-text'
          ])= data.quote.content[0]
      p(
        class=[
          'js-line'
        ])
        span(
          data-duration = '2700'
          data-end = '750'
          class=[
            'js-text'
          ])= data.quote.content[1]
      p(
        class=[
          'js-line'
        ])
        span(
          data-duration = '1000'
          data-end = '750'
          class=[
            'js-text'
          ])= data.quote.content[2]
    each val, key in data.skills
      +skill(key,val)
  nav(class=[
    'js-skills-navbar',
    'js-hidden',
    'w-full', 'h-16',
    'flex', 'align-center', 'justify-center',
    'select-none',
    'transition-opacity', 'duration-200'
    ])
    div(class=[
      'h-8',
      'm-4',
      'w-full'
    ])
      +scroller()(class=[
        'js-skills-navbar-container',
        'w-full', 'h-16'
      ])
        each val, key in data.groups
          li(class=[
            'mx-4', 'inline-block'  
            ])
            //- Including tabindex as a elements without href are not focusable
            a(
              tabindex = 0
              data-group = key
              title=`Click to show ${val.name.join(' and ')} skills or unselect to show all skills`
              class=[
              'js-link',
              'tg-small-header', 'text-primary-dark', 'c-highlight-on-hover',
              'c-box-btn',
              'cursor-pointer',
              'px-1', 'rounded'
              ])
                each paragraph in val.name
                  p(class=[
                    'mx-auto', 'my-0', 'p-1',
                    'text-center', 'leading-none' 
                  ])= paragraph
