.lc-skills-boundaries {
  @include top-slope(1);
}

.js-static-props-section-skills {
  @apply flex flex-wrap justify-center content-start items-start pb-12;
}

.js-props-section-skills {
  @apply block p-0 m-0 w-full;

  height: calc(100% - theme('spacing.16'));
}

.js-skills-section-link-active {
  @apply text-secondary-light bg-light-darker shadow-inner relative;
}

.js-quote {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
