mixin scroller
  div(class=[    
    'relative',
    'flex', 'flex-1', 'items-center', 'justify-between'
  ])&attributes(attributes)
    ul(
    tabindex="-1"
    class=[
      'js-scroll',
      'overflow-hidden',
      'whitespace-no-wrap', 'text-center',
      'absolute', 'inset-0', 'outline-none', 'mx-5'
    ])
      block
    button(
      tabindex='-1'
      class=[
      'lc-scroller-arrow',
      'js-left-arrow', 'js-hidden',
      'c-box-btn',
      ]
    )
    button(
      tabindex='-1'
      class=[
      'lc-scroller-arrow',
      'js-right-arrow', 'js-hidden',
      'c-box-btn',
      ]
    )
