.js-scroll {
    touch-action: pan-y;
    user-select: none;
}

.lc-scroller-arrow {
  @apply flex flex-col justify-center items-center z-10 w-10 h-10 rounded-full shadow bg-white js-opacity-1 cursor-pointer;
  &::before,
  &::after {
    @apply inline-block mx-auto w-5 h-1 transition-colors bg-secondary;

    content: "";
  }

  &::before {
    margin-bottom: calc(1px - theme('spacing.1'));
  }
  &::after {
    margin-top: calc(1px - theme('spacing.1'));
  }

  &:disabled {
    @apply cursor-default;

    &::before,
    &::after {
      @apply bg-dark-lighter;
    }
  }

  &.js-left-arrow {
    &::before,
    &::after {
      @apply origin-left;
    }
    &::before {
      @apply transform -rotate-45;
    }
    &::after {
      @apply transform rotate-45;
    }
  }

  &.js-right-arrow {
    &::before,
    &::after {
      @apply origin-right;
    }
    &::before {
      @apply transform rotate-45;
    }
    &::after {
      @apply transform -rotate-45;
    }
  }
}

.js-can-hover .lc-scroller-arrow:hover:not(:disabled) {
  &::before,
  &::after {
    @apply bg-highlight;
  }
}
