/* Base styles target elements instead classes */

html {
 scroll-behavior: smooth;
}

i,
em,
strong {
  font-style: normal;
  font-weight: normal;
}

@screen lg {
  html {
    font-size: 85%;
  }
}

@screen xs {
  html {
    font-size: 75%;
  }
}
