/*
NOTE: components.css => Groups of tailwindcss classes and custom utilities that are commonly repetated through the project. Styles included in components.css do not have script or markup associated.
CONVENTION: CSS custom components start with c-
*/

/**************************  BUTTONS *******************************/
.c-text-btn,
.c-text-btn-light {
  @apply text-secondary-light;

  &:focus {
    outline-color: theme('colors.highlight.default');
  }
}

.js-can-hover .c-text-btn:visited:not(:hover) {
  @apply text-secondary-dark;
}

.js-can-hover .c-text-btn-light:visited:not(:hover) {
  @apply text-primary-light;
}

.js-can-hover .c-text-btn:hover,
.js-can-hover .c-text-btn-light:hover {
  @apply text-highlight;
}

.c-box-btn {
  @apply inline-block transition-all duration-100 ease-in;

  &:focus {
    @apply outline-none select-none;
    &:not(:active):not(:disabled) {
      @apply transform scale-110;
      filter: drop-shadow(0 0 0 theme('colors.highlight.default'));
    }
  }

  &:active:not(:disabled) {
    @apply transform scale-90;
  }
}

.js-can-hover .c-box-btn:hover:not(:disabled) {
  @apply transform scale-110;
}

/**************************  INTERACTION *******************************/
.js-can-hover .c-highlight-on-hover:hover {
  @apply text-highlight;
}

/**************************  LAYOUT *******************************/
.c-outer-container {
  @apply w-full flex flex-col items-center;
}

.c-inner-container {
  @apply w-full max-w-6xl px-8 flex;
}

@screen sm {
  .c-inner-container {
    @apply px-1;
  }
}

.c-navbar-shape {
  clip-path: url(#nav-shape);
}

/**** Card with 2 sides ****/
.c-back-side,
.c-front-side {
  @apply absolute h-full w-full rounded shadow;
  @apply transition-all duration-700 ease-out;

  backface-visibility: hidden;
}

.c-back-side {
  transform: rotateY(180deg);
}

.c-show-back {
  & .c-front-side {
    transform: rotateY(-180deg);
  }

  & .c-back-side {
    transform: rotateY(0deg);
  }
}

.js-can-hover .c-two-sides:hover {
  @apply c-show-back;
}

/**** End Card with 2 sides ****/
