/* Source: https://google-webfonts-helper.herokuapp.com */
$path: ./assets/fonts/;

/* dosis-300 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  $file: dosis-v14-latin-300;

  src: url('$path$file.eot'); /* IE9 Compat Modes */
  src:
    local('Dosis'),
    /* IE6-IE8 */
    url('$path$file.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('$path$file.woff2') format('woff2'),
    /* Modern Browsers */
    url('$path$file.woff') format('woff'),
    /* Safari, Android, iOS */
    url('$path$file.ttf') format('truetype'),
    /* Legacy iOS */
    url('$path$file.svg#Dosis') format('svg');
}

/* muli-regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  $file: muli-v16-latin-regular;

  src: url('$path$file.eot'); /* IE9 Compat Modes */
  src:
    local('Muli Regular'),
    local('Muli-Regular'),
    /* IE6-IE8 */
    url('$path$file.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('$path$file.woff2') format('woff2'),
    /* Modern Browsers */
    url('$path$file.woff') format('woff'),
    /* Safari, Android, iOS */
    url('$path$file.ttf') format('truetype'),
    /* Legacy iOS */
    url('$path$file.svg#Muli') format('svg');
}

/* muli-700 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  $file: muli-v16-latin-700;

  src: url('$path$file.eot'); /* IE9 Compat Modes */
  src:
    local('Muli Bold'),
    local('Muli-Bold'),
    /* IE6-IE8 */
    url('$path$file.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('$path$file.woff2') format('woff2'),
    /* Modern Browsers */
    url('$path$file.woff') format('woff'),
    /* Safari, Android, iOS */
    url('$path$file.ttf') format('truetype'),
    /* Legacy iOS */
    url('$path$file.svg#Muli') format('svg');
}
