/*
Mixin is applied using before or after pseudoelements defined by $position,
$black, $red, $green $blue define the opacity of each color
*/
@mixin mesh(
  $position: before,
  $black: 0.4,
  $red: 0.4,
  $green: 0.2,
  $blue: 0.4
) {
  &::$position {
    @apply absolute inset-0;

    content: "";
    background: linear-gradient(
        rgba(255, 0, 0, $red),
        rgba(0, 255, 0, $green),
        rgba(0, 0, 255, $blue)
      ),
      linear-gradient(
        90deg,
        #0000,
        rgba(0, 0, 0, $black),
        rgba(0, 0, 0, $black),
        #0000
      );
    background-size: 100% 6px, 4px 100%;
  }
}

@mixin scroll-transparency {
  &::before,
  &::after {
    @apply absolute inset-x-0 w-full h-8;

    content: "";
  }

  &::before {
    @apply top-0 bg-gradient-b-white-alpha;
  }

  &::after {
    @apply bottom-0 bg-gradient-t-white-alpha;
  }
}

/* $slope interger bigger or smaller than 0 indicating pos or neg slope (the value has no meaning at the moment) */
@mixin top-slope($slope) {
  @apply -mt-xscreen-5;
  @if $slope > 0 {
    clip-path: polygon(0 theme("spacing.xscreen-5"), 100% 0, 100% 100%, 0 100%);
  } @else {
    clip-path: polygon(0 0, 100% theme("spacing.xscreen-5"), 100% 100%, 0 100%);
  }
}
