/*
NOTE: typography.css => Groups of tailwindcss classes in relation with text format.
CONVENTION: CSS typography classes starts with tg-
*/
.tg-terminal {
  @apply font-mono text-base;
}

.tg-terminal-big {
  @apply font-mono text-2xl;
}

.tg-large-header {
  @apply font-header text-5xl font-light;
}

.tg-normal-header {
  @apply font-header text-2xl font-light;
}

.tg-small-header {
  @apply font-header text-xl font-light;
}

.tg-xl-base {
    @apply font-body text-3xl font-normal;
}

.tg-lg-base {
    @apply font-body text-lg font-normal;
}

.tg-base {
    @apply font-body text-base font-normal;
}
