/*
NOTE: utilities.css => custom utilities not included in tailwindcss
CONVENTION: CSS custom utilities start with u-
*/

/************************** ANIMATIONS *******************************/
/* Blinker */
.u-blink {
  animation: blinker 1.1s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }
}

/************************** TRANSITIONS *******************************/
.u-will-change-transform {
  will-change: transform;
}

/************************** TRANSFORMS *******************************/
.u-perspective-1000 {
  perspective: 1000px;
}

/************************** BACKGROUNDS *******************************/
.u-bg-blend-screen {
  background-blend-mode: screen;
}

/************************** LAYOUT *******************************/
.u-clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.u-clone-fragments {
  box-decoration-break: clone;
}

.u-content-box {
  box-sizing: content-box;
}

.u-border-box {
  box-sizing: border-box;
}


/************************** SHADOWS *******************************/
.u-bottom-drop-shadow-dark-bg {
  filter: drop-shadow(0 1px 3px #5558) drop-shadow(0 1px 2px #2225);
}

.u-top-drop-shadow-dark-bg {
  filter: drop-shadow(0 -1px 3px #5558) drop-shadow(0 -1px 2px #2225);
}

.u-drop-shadow {
  filter: drop-shadow(0 1px 3px  #0002) drop-shadow(0 1px 2px #0000000f);
}

.u-text-shadow {
  text-shadow: 0 1px 3px #5558, 0 1px 2px #2225;
}

/************************** TESTING *******************************/
.dev-bg-red {
  background-color: #f004;
}

.dev-bg-green {
  background-color: #0f04;
}

.dev-bg-blue {
  background-color: #00f4;
}

.dev-bg-yellow {
  background-color: #ff04;
}
