.lc-spinner {
  position: relative;
  width: 80px;
  height: 80px;
}
.lc-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid theme('colors.light.lighter');
  border-radius: 50%;
  animation: lc-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: theme('colors.light.lighter') transparent transparent transparent;
}
.lc-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.lc-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.lc-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lc-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
