-const data = require('../../data/layout').sectionsMap;
div#navbar(class=[
  'u-top-drop-shadow-dark-bg',
  'sticky', 'sm:relative',
  'inset-x-0',
  '-top-32', 'sm:top-0',
  'js-z-30', 'js-opacity-1',
  'transition-opacity'
  ])
  nav(class=[
    'h-48',
    '-mt-48',
    'c-outer-container',
    'justify-end',
    'c-navbar-shape',
    'bg-gradient-t-primary-secondary',
    'select-none'
    ])
    ul(class=[
      'c-inner-container',
      'h-8',
      'mt-4',
      'items-end', 'justify-between', 'sm:justify-center'
      ])
      li(class=[
        'sm:hidden',
        'h-6',
        'mx-4', 'my-1',
        'flex-grow',
        ])
        //- Click in the icon will scroll to the top
        a(
          href='#header'
          class=['c-box-btn']
        )
          img(
            src=require('../../assets/imgs/icon-c-font-light-v2.svg')
            alt='Logo'
            class=[
            'h-6'
            ])
      each val, key in data
        li(
          data-section-id=key
          class=[
            val.nav ? 'block' : 'hidden',
            'js-section-link', 
            'mx-4',
          ])
          a(
            href=`#${key}`
            title=`Link to ${val.name} section`
            class=[       
            'c-box-btn',
            'tg-normal-header', 'text-light-lighter', 'c-highlight-on-hover'
            ])= val.name
          div(class=[
            'js-section-marker',
            'js-opacity-0',
            'w-full',
            'h-px',
            '-mb-px',
            'bg-light-lighter',
            'transition-opacity', 'duration-500', 'ease-out'
          ])
    div(class=[
      'js-main-underline',
      'max-w-6xl', 'w-full', 'sm:w-10/12',
      'h-px',
      'mb-4',
      'bg-light-lighter',
      'js-opacity-100',
      'transition-opacity', 'duration-500', 'ease-out'
    ])
