.lc-topbar-icon-lines {
  @apply relative;
  &,
  &::before,
  &::after {
    @apply inline-block w-6 h-px bg-primary-dark transition-all;
  }

  &::before,
  &::after {
    @apply absolute inset-x-0;
    content: "";
  }

  &::before{ @apply -top-2;}
  &::after{ @apply top-2; }
}

.js-can-hover .group:hover {
  & .lc-topbar-icon-lines { @apply bg-highlight; }
  & .lc-topbar-icon-lines::before { @apply -top-3 bg-highlight; }
  & .lc-topbar-icon-lines::after { @apply top-3 bg-highlight; }
}

.js-topbar-checkbox:checked {
  & ~ .js-topbar-btn-bg {
    @apply block;
  }

  & ~ .lc-topbar-btn-content .lc-topbar-icon-lines {
    @apply bg-transparent;

    &::before {

      @apply top-0 transform -rotate-135;
    }

    &::after {
      @apply top-0 transform rotate-135;
    }
  }
}

.lc-topbar-navbar {
  width: calc(100vw - 3rem);
  height: calc(100vh - 1rem);
  transform: translateX(calc(-100% - 1.5rem));
  transition: all .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.js-topbar-checkbox:checked ~ .lc-topbar-navbar {
  @apply transform translate-x-0 opacity-100;
}
