-const data = require('../../data/layout').sectionsMap;
//- Topbar only render in SM XS screens
div#topbar(class=[
  'js-hidden', 'sm:flex', 'px-4',
  'fixed', 'h-16',
  '-js-translate-y-full', 'transition-transform', 'ease-in', 'duration-500',
  'top-0', 'inset-x-0',
  'bg-gradient-b-secondary-soft',
  'z-40',
  'justify-between', 'items-stretch'
])
  //- Click in the icon will scroll to the top
  a(
    href='#header'
    class=[
      'c-box-btn', 'h-full', 'p-2'
    ]
  )
    img(
      src=require('../../assets/imgs/icon-c-grad-primary-secondary-v2.svg')
      alt='Logo'
      class=[
      'h-full', 'w-auto'
    ])
  p(class=[
    'js-topbar-text', 
    'tg-large-header', 'text-primary-dark',
    'tracking-wider', 'u-drop-shadow'
  ])
  //- Markup to show/hide navbar
  div(class=[
    'lc-topbar-navbtn',
    'relative', 'h-12', 'w-12', 'm-2'
  ])
    input#topbar-button(
      type='checkbox'
      class=[
        'hidden',
        'js-topbar-checkbox'
      ]
    )
    div(class=[
      'js-hidden', 'js-opacity-0',
      'js-topbar-btn-bg',
      'absolute', '-top-2', '-right-6',
      'h-screen', 'w-screen',
      'bg-radial-far-c-tr-secondary-primary', 
      'transition-opacity', 'duration-700', 'ease-in-out'
    ])
    label(
      for='topbar-button'
      class=[
        'lc-topbar-btn-content',
        'bg-light', 'group', 'cursor-pointer',
        'block', 'rounded-full', 'absolute', 'inset-0', 'py-2', 
        'text-center', 'align-middle',
        'shadow-md', 'z-10'
      ]
    )
     span(class=[
      'lc-topbar-icon-lines', 'u-drop-shadow'
     ])
    nav(class=[
      'lc-topbar-navbar',
      'opacity-0',
      'top-0', 'right-0',
      'absolute',
      ])
      ul(class=[
        'absolute',
        'top-1/2', 'left-1/2',
        'transform', '-translate-x-1/2', '-translate-y-1/2'
        ])
        each val, key in data
          li(
            data-section-id=key
            class=[
              val.nav ? 'block' : 'hidden',
              'js-section-link',
              'text-center'
            ])
            a(
              href=`#${key}`
              title=`Link to ${val.name} section`
              class=[
              'c-box-btn',
              'tg-large-header', 'tracking-wider',
              'text-light-lighter'
              ])= val.name
