extends ../section-container/index
include ../../components/certification/mixin
include ../../components/scroller/mixin
block append variables
  - data = require('./data/certifications');
  - outerContainerClasses = ['lc-certifications-boundaries', 'bg-top', 'bg-no-repeat', 'bg-cover', 'bg-fixed', 'lc-certifications-bg'];
  - outerContainerId = 'certifications';
  - innerContainerClasses = ['overflow-x-hidden', 'my-xscreen-5'];
block section-body
  +scroller()(class=[
    'js-certifications-container',
    'w-full', 'h-192'
  ])
    - for(let i = 0; i < data.length; i += 2)
      div(class=[
        'inline-block',
        'w-80', 'h-192', 'mx-4',
      ])
        li(class=[
           'mt-12', 'mb-8'
        ]) 
          +certification(data[i])
        
        li(class=[
          'mb-12'
        ])
          if (data.length > (i + 1))
            +certification(data[i+1])
