$cert-top-grad: radial-gradient(farthest-corner at center, #fff0 60%, #ceceb175);
$cert-bg-path: ./assets/imgs/certifications-bg-image.jpg;

.lc-certifications-boundaries {
  @include top-slope(1);
}

.lc-certifications-bg {
  background-image:
    $cert-top-grad,
    url('$cert-bg-path?size=1280');

  @include mesh;
}

@screen lg{
  .lc-certifications-bg {
    background-image:
      $cert-top-grad,
      url('$cert-bg-path?size=1024');
  }
}

@screen md{
  .lc-certifications-bg {
    background-image:
      $cert-top-grad,
      url('$cert-bg-path?size=768');
  }
}

@screen sm{
  .lc-certifications-bg {
    background-image:
      $cert-top-grad,
      url('$cert-bg-path?size=640');
  }
}

@screen xs{
  .lc-certifications-bg {
    background-image:
      $cert-top-grad,
      url('$cert-bg-path?size=480');
  }
}
