include ../btn/mixin

mixin skill(key,val)
  - skillImg = require(`./assets/imgs/skills/${val.img}?sizes[]=768,sizes[]=640,sizes[]=512,sizes[]=384`)
  - parseLinks = require('./scripts/helpers').parseLinks;
  //- data-area percentage of parents area
  article(
    tabindex=-1
    data-area = "5"
    data-group = val.groups 
    class=[
    'js-skill',
    'js-resizable',
    'js-draggable',
    'js-static-props-skill',
    'outline-none',
    'm-1',
    'p-4',
    'bg-white',
    'shadow-lg',
    'rounded',
    'js-cursor-grab',
    'border', 'border-light-lighter' 
  ])
    img(
      class=[
        'mx-auto',
      ]
      srcset = skillImg.srcSet
      src= skillImg.src
    )
    section
      h1(class=[
        'my-4',
        'text-dark', 'tg-small-header',
        ])= val.name
      each par in val.description
        p(
          class=[
            'my-4',
            'text-dark', 'tg-base',
          ])!= parseLinks(par,'target="_blank" rel="noreferrer noopener" tabindex=-1 class="c-text-btn"')
    +btn(['js-hidden', 'right-1', 'bottom-1'], 'origin-center transform js-rotate-90')
