.js-static-props-skill {
  @apply relative w-64 h-96 overflow-y-scroll;

  & img {
    @apply h-16;
  }
}

.js-props-skill {
  @apply absolute overflow-hidden transition-transform duration-200 ease-in-out;
}

.js-draggable {
  touch-action: none;
  user-select: none;
}
