extends ../section-container/index
include ../../components/skill/mixin

block append variables
  - data = require('./data/bio');
  - outerContainerClasses = ['bg-light-lighter', 'lc-bio-boundaries'];
  - outerContainerId = 'bio';
  - innerContainerClasses = ['min-h-224', 'mt-xscreen-5', 'md:flex-col'];
  - parseLinks = require('./scripts/helpers').parseLinks;

block section-body
  each val, i in data
    - bioImg = require(`./assets/imgs/${val.img}?sizes[]=640,sizes[]=384`)
    div(class=[
      'w-96', 'md:w-full', i !== 0 ? 'md:mt-8': null,
      'flex', 'flex-grow', 
      i%2 === 0 ? 
        'flex-col md:flex-col justify-start' :
        'flex-col-reverse md:flex-col justify-end'
      ])
        div(class=[
          'w-full', 'px-8'
        ])
          img(
            srcset = bioImg.srcSet
            src = bioImg.src
            class=[
              'lc-bio-img',
              'w-full', 'md:w-7/12', 'xs:w-9/12', 'h-auto', 'mx-auto', 'my-4'
            ]
          )
        div(class=[
          'w-full', 'px-8', 'text-dark'
        ])
          h2(class=[
            'tg-normal-header', 'mb-2'
          ])= val.title
          each par in val.description
            p(class=[
              'tg-lg-base', 'my-4'
            ])!= parseLinks(par,'target="_blank" rel="noreferrer noopener" class="c-text-btn"')
        
