extends ../section-container/index
include ../../components/project/mixin
include ../../components/scroller/mixin
block append variables
  - data = require('./data/projects');
  - outerContainerClasses = ['bg-light-lighter','lc-projects-boundaries'];
  - outerContainerId = 'projects';
  - innerContainerClasses = ['overflow-x-hidden','my-xscreen-5'];
  
block section-body
  +scroller()(class=[
    'js-projects-container',
    'w-full', 'h-128', 'sm:h-160'
  ])
    each project in data
      li(class=[
        'inline-block',
        'mx-6', 'my-8', 'md:my-16'
      ])
        +project(project)
