//- NOTE: Images Sizes:
//-   Certification back certificate: 576
//-   Certifications front bg: 640
//-   Certification fron badge: 128
//-   Project front bg: 640
//-   Skill: 768
//-   Bio images: 640
//-   Certifications BG landscape 1280*800
//-   Header avatar 640
//- NOTE: Desktop optimise for screen 1280-800 
//- CONVENTION: CSS: To keep low specifity, use single classes names for selectors

//- CONVENTION: HTML: To avoid IDs duplication, IDs should be named: {Pug filename}-{Element representative name} i.e navbar-section
//- CONVENTION: HTML: Use only IDs for main elments/sections that will be selected in the main script
//- CONVENTION: HTML: Use taildwind c- and u- classes to have a general view of the style whithin pug file, Use comonent style.css file when tailwind cannot apply or to avoid classes duplication between different elements in the component file
-const description = require('./data/layout').pageDescription;
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content=description)
    title=htmlWebpackPlugin.options.title
  body(class=[
    'bg-dark-darker'
    ])
    include layout/initial-spinner/index
    include layout/navbar/topbar
    include layout/header/index
    include layout/navbar/navbar
    main
      include layout/skills/index
      include layout/projects/index
      include layout/certifications/index
      include layout/bio/index
    include layout/footer/index
    template#notification
      include components/notification/index
    //- NOTE: nav-shape has 0,0 size. If set nav-shape under hidden elemet clip-path wouldn't work
    img( inline src='src/assets/inline/nav-shape.svg')
    div(class=['hidden'])
      img(inline src='src/assets/inline/svg-symbols.svg')
