- data = require('../../data/layout');
- parseLinks = require('../../scripts/helpers').parseLinks;
- cv = require('../../assets/docs/cv-antonio-fernandez-online-version.pdf');
- footer = data.footer;
footer#footer(
  class=[
    'c-outer-container',
    'bg-gradient-t-primary-secondary', 'h-80', 'sm:h-auto', 'relative'
  ])
    div(class=[
        'c-inner-container', 'relative', 'sm:flex-col-reverse',
        'h-full', 'py-12', 'sm:py-6',
        'items-center', 'justify-around'
    ])
      div(class=[
        'flex-auto', 'w-2/5', 'sm:w-full', 'h-full', 'pr-8', 'sm:px-16', 'sm:py-6',
        'flex', 'flex-col', 'items-stretch', 'justify-center'
      ])
        //- SOCIAL ICONS
        nav(class=[
          'js-social-icons',
          'transition-transform', 'duration-100',
          'relative',
          'flex', 'justify-center',
          'mb-4'
        ])
          each link in data.links
            if link.name !== 'Email'
              a(
                target=link.target
                rel="noreferrer noopener"
                href=link.url === 'cv' ? cv : link.url
                class=[
                'c-box-btn',
                'text-light-lighter',
                'c-highlight-on-hover'
                ]) 
                svg(class=[
                'u-bottom-drop-shadow-dark-bg',
                'bg-transparent',
                'rounded-full',
                'm-2',
                'h-10',, 'md:h-12',
                'w-10', 'md:w-12',
                'fill-current',
                'text-inherit',
                'transition-colors'
                ])
                  title= link.name
                  use(xlink:href=`#${link.name.toLowerCase()}`)
        each paragraph in footer.notes
          p(class=[
            'tg-base', 'text-center', 'text-light-lighter', 'mb-2'
          ])!= parseLinks(paragraph,'target="_blank" rel="noreferrer noopener" class="c-text-btn-light c-highlight-on-hover underline"')
      img(
        src=require('../../assets/imgs/icon-c-font-light-v2.svg')
        alt='Logo'
        class=[
        'flex-auto',
        'max-h-full', 'w-1/5', 'sm:w-2/5'
        ])
      div(class=[
        'relative', 'flex-auto', 'w-2/5', 'sm:w-full', 'h-full', 'ml-8', 'sm:m-auto'
      ])
        div(class=[
          'js-waiting', 'hidden',
          'absolute', 'inset-0', 'z-10',
          'flex', 'justify-center', 'items-center'
        ])
          include ../../components/spinner/index
        form#user-email(
          action='/'
          name='contact'
          data-netlify='true'
          netlify-honeypot='bot-field'
          method='POST'
          class=[
            'w-full', 'h-full', 'sm:px-8', 'sm:py-6', 
            'flex', 'flex-col', 'items-stretch', 'justify-center',
            'transition-opacity'
          ]
        )
          div(class=[
              'flex', 'justify-between', 'mb-4'
          ])
            p(class=[
              'tg-normal-header', 'text-light-lighter',
            ]) Contact:
            button(
              type='submit'
              disabled
              class=[
                'c-box-btn', 'rounded', 'bg-light-lighter', 'shadow-md',
                'leading-loose', 'px-2', 'sm:px-4',
                'tg-lg-base', 'text-secondary', 'c-box-btn',
                'hocus:text-highlight',
                'disabled:text-dark-lighter'
              ]
            ) Send &raquo;
          input#user-email-address(
              type='email'
              name='from'
              placeholder=footer.form.userAddressPlaceholder
              class=[
                'tg-base', 'text-dark', 'placeholder-dark-lighter', 'bg-light-lighter',
                'outline-none', 'shadow-none', 'validation-style',
                'rounded-sm', 'mb-4', 'leading-loose', 'pl-1', 'pr-16', 'flex-grow-0'
              ]
          )
          input#user-email-honeypot(
              type='text'
              name='bot-field'
              placeholder='Empty field'
              class=[
                'hidden'
              ]
          )
          textarea#user-email-body(
              name='body'
              required
              placeholder=footer.form.userBodyPlaceholder
              class=[
                'sm:h-32',
                'tg-base', 'text-dark', 'placeholder-dark-lighter', 'bg-light-lighter',
                'outline-none', 'shadow-none',
                'rounded-sm', 'p-1', 'overflow-y-auto', 'flex-grow'
              ]
          )
